# General
target/
.classpath
.project
.settings
.DS_Store
*.log
build/
.metadata/
.factorypath

# Intellij
.idea/
*.iml
*.iws
*.ipr
.gradle/
out/
/.recommenders/
*.jtl
**/.~lock.*
dependency-reduced-pom.xml

# vscode
.vscode/

# bin
xoom-designer-dist.jar
designer.tar
designer.zip