# General
target/
.classpath
.project
.settings
.DS_Store
*.log
build/
.metadata/

# Intellij
.idea/
*.iml
*.iws
*.ipr
.gradle/
out/
/.recommenders/
*.jtl
**/.~lock.*
dependency-reduced-pom.xml

# vscode
.vscode/

# bin
vlingo-xoom-starter-dist.jar