// Put your custom sass variables here
$primary-color: #00753b;
$secondary-color: #acd164;
$accent-color: #b78bc0;
$error-color: #e64325;
$warning-color: #ffa336;
$info-color: #acd164;
$success-color: #009d4b;

:root {
  --mdc-theme-primary: #00753b;
  --mdc-theme-secondary: #b78bc0;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #e64325;
}