<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="context" class="nav-link disabled" routerLinkActive="active">
          <i class="sidebar-icon bounded-context-icon"></i>
          Context 
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="model" class="nav-link disabled" routerLinkActive="active">
          <i class="sidebar-icon model-icon"></i>
          Model 
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="deployment" class="nav-link disabled" routerLinkActive="active">
          <i class="sidebar-icon deployment-icon"></i>
          Deployment
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="generation" class="nav-link disabled" routerLinkActive="active">
          <i class="sidebar-icon generation-icon"></i>
          Generate
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="sidebar-icon about-icon"></i>
          About
        </a>
      </li>
    </ul>
  </div>
</nav>