.aggregate-card {
  margin-top: 10px;
  background-color: #fff9c4;
}

.aggregate {
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
}

.event-card {
  margin-top: 10px;
  background-color: #fd7e14;
}

.api-card {
  margin-top: 10px;
  background-color: #64B5F6;
}

.aggregate .GET {
  background-color: #40c057;
}

.cards {
  display: flex;
  overflow: auto;
  height: 445px;
  white-space: nowrap;
}

.methods {
  padding-top: 10px;
}

.parameters {
  padding-top: 10px;
  padding-bottom: 10px;
}

.model-aggregate{
  height: 80%;
}

.aggregate div:last-child {
  border: none;
}

