  <div class="fright" >
  <button mat-raised-button color="primary" (click)="openNewAggregateModal()">New Aggregate</button>
  </div>
  <mat-card class="aggregate-card" *ngFor="let aggregatesSetting of aggregatesSettings; let i = index;">
    <mat-card-header>
      <mat-card-title>{{aggregatesSetting.aggregateName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="parameters">
        <div *ngFor="let state of aggregatesSetting.stateFields">
          <span>{{state.name}}: {{state.type}}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="methods">
        <div *ngFor="let method of aggregatesSetting.methods">
          <span>{{method.name}}({{getMethodParameters(method, aggregatesSetting.stateFields)}})</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="remove(i)">Remove</button>
      <button mat-button>Edit</button>
      <button mat-button (click)="view(aggregatesSetting)">View</button>
    </mat-card-actions>
  </mat-card>
