.aggregate-card {
  max-width: 300px;
  margin-left: 2%;
  margin-top: 3%;
}

.cards{
  display: flex;
}

.methods {
  padding-top: 10px;
}

.parameters {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fright{
  float: right
}
