<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Context</h2>
</div>

<form [formGroup]="contextForm">
    <div class="form-group col-md-3">    
        <label for="groupId">Group Id*:</label>
        <input type="text" class="form-control starter-field" 
        id="groupId" formControlName="GroupId" 
        [(ngModel)]="generationSettings.context.groupId"
        placeholder="Maven project group Id">
    </div>
    <div class="form-group col-md-3">
        <label for="artifactId">Artifact Id*:</label>
        <input type="text" class="form-control starter-field"
        id="artifactId" formControlName="ArtifactId" 
        [(ngModel)]="generationSettings.context.artifactId" 
        placeholder="Maven artifactId Id">
    </div>
    <div class="form-group col-md-3">
        <label for="artifactVersion">Artifact Version*:</label>
        <input type="text" class="form-control starter-field" 
        id="artifactVersion" formControlName="ArtifactVersion" 
        [(ngModel)]="generationSettings.context.artifactVersion" 
        placeholder="Maven artifact version">
    </div>
    <div class="form-group col-md-3">
        <label for="packageName">Base Package Name*:</label>
        <input type="text" class="form-control starter-field" 
        id="packageName" formControlName="PackageName" 
        [(ngModel)]="generationSettings.context.packageName"
        placeholder="com.company.servicecontextname">
    </div>
    <div class="form-group col-md-3">
        <label for="xoomVersion">vlingo/xoom Version*:</label>
        <input type="text" class="form-control starter-field" 
        id="xoomVersion" [(ngModel)]="generationSettings.context.xoomVersion"
        formControlName="XoomVersion" placeholder="The vlingo/xoom dependency version">
    </div>
</form>