<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Generation</h2>
</div>

<form [formGroup]="generationForm">
    <div class="form-group col-md-3">
        <label for="projectDirectory">Where do you want to generate the project?</label>
        <input type="text" class="form-control starter-field" 
        id="projectDirectory" [(ngModel)]="generationSettings.projectDirectory"
        formControlName="ProjectDirectory"
        placeholder="Absolute path for the new xoom project">
    </div>
</form>