<app-step-title title="Deployment"></app-step-title>

<form [formGroup]="deploymentForm">
    <div class="form-group col-md-2 mb-3 d-none">    
        <label for="clusterNodes">Total Cluster Nodes*:</label>
        <input id="clusterNodes" 
                type="text" 
                class="form-control starter-field" 
                formControlName="ClusterNodes" 
                [(ngModel)]="generationSettings.deployment.clusterNodes">
    </div>

    <div class="form-row d-none">
        <div class="col-md-1">
            <label for="useGrid">Enable Grid:</label>
        </div>
        <div class="col-md-1 pt-1">
            <input type="checkbox" class="form-check-input" disabled>
        </div>
    </div>

    <div class="form-group col-md-4 pt-2 mb-1">    
        <label for="clusterNodes">Deployment type:</label>
    </div>  
    <div class="col-md-6 ml-2 mb-2">
        <div class="form-check">
            <input id="none" 
                    type="radio" 
                    class="form-check-input" 
                    name="DeploymentType" 
                    formControlName="DeploymentType"
                    value="NONE">
            <label class="form-check-label" for="none">None</label>
        </div>
        <div class="form-check">
            <input id="docker" 
                    type="radio" 
                    class="form-check-input" 
                    name="DeploymentType"
                    formControlName="DeploymentType"
                    value="DOCKER">
            <label class="form-check-label" for="docker">Docker</label>
        </div>
        <div class="form-check">
            <input id="kubernetes" 
                    type="radio" 
                    class="form-check-input" 
                    name="DeploymentType"
                    formControlName="DeploymentType"
                    value="KUBERNETES">
            <label class="form-check-label" for="kubernetes">Kubernetes</label>
        </div>
    </div>

    <div *ngIf="isDeploymentTypeSelected()" class="form-group col-md-2 mb-3">    
        <label for="dockerImage">Docker Image*:</label>
        <input id="dockerImage" 
                type="text" 
                class="form-control starter-field"
                formControlName="DockerImage"
                placeholder="Local Docker Image"
                [(ngModel)]="generationSettings.deployment.dockerImage">
    </div>

    <div *ngIf="isKubernetesSelected()" class="form-group col-md-2 mb-3">    
        <label for="kubernetesImage">Kubernetes Image*:</label>
        <input id="kubernetesImage" 
                type="text" 
                class="form-control starter-field"
                formControlName="KubernetesImage"
                placeholder="Published Docker Image"
                [(ngModel)]="generationSettings.deployment.kubernetesImage">
                
    </div>

    <div *ngIf="isKubernetesSelected()" class="form-group col-md-2 mb-3">    
        <label for="kubernetesPOD">Kubernetes POD*:</label>
        <input id="kubernetesPOD" 
                type="text"
                class="form-control starter-field"
                formControlName="KubernetesPOD"
                placeholder="Kubernetes POD name"
                [(ngModel)]="generationSettings.deployment.kubernetesPod">
    </div>
</form>