.content-board {
    height: 650px;
    padding-top: 48px;
}

h2 {
    font-size: 1.5rem !important;
}

label, input, button, h5, .multiselect-dropdown {
    font-size: .75rem !important;
}

label {
    font-weight: bold;
}

.form-check-label {
    font-weight: normal;
}

