<app-step-title title="Model - Persistence"></app-step-title>
<form [formGroup]="persistenceForm" class="persistence-form">
  <mat-form-field appearance="fill">
    <mat-label>Storage Type</mat-label>
    <mat-select formControlName="storageType">
      <mat-option *ngFor="let type of storageTypes" [value]="type.value">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Projections</mat-label>
    <mat-select formControlName="projections" [disabled]="!persistenceForm.get('storageType').value">
      <mat-option *ngFor="let proj of projections" [value]="proj.value">
        {{proj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-label>Use CQRS?</mat-label>
    <mat-button-toggle-group formControlName="useCQRS">
      <mat-button-toggle value="NO">No</mat-button-toggle>
      <mat-button-toggle value="YES">Yes</mat-button-toggle>
    </mat-button-toggle-group>
  <mat-form-field appearance="fill" *ngIf="persistenceForm.get('useCQRS').value === 'NO'" >
    <mat-label>Database</mat-label>
    <mat-select formControlName="database">
      <mat-option *ngFor="let database of databases" [value]="database.value">
        {{database.name}}
      </mat-option>
    </mat-select>  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="persistenceForm.get('useCQRS').value  === 'YES'">
    <mat-label>Command Model Database</mat-label>
    <mat-select formControlName="commandModelDatabase">
      <mat-option *ngFor="let commandModelDatabase of databases" [value]="commandModelDatabase.value">
        {{commandModelDatabase.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="persistenceForm.get('useCQRS').value === 'YES'">
    <mat-label>Query Model Database</mat-label>
    <mat-select formControlName="queryModelDatabase">
      <mat-option *ngFor="let queryModelDatabase of databases" [value]="queryModelDatabase.value">
        {{queryModelDatabase.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-divider> </mat-divider>
  </div>
</form>
