.additional-options {
    margin-top: 56px;
}

.additional-options .col-md-12 {
    padding-right: 0px;
}

.additional-options .form-group {
    margin-bottom: .6rem;
}

.model-settings .card-body {
    min-height: 468px !important;
}

.cqrs-label {
    margin-left: 15px;
}