<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Context</h1>
</div>


<form>
    <div class="form-group col-md-3">    
        <label for="groupId">Group Id:</label>
        <input type="text" class="form-control" id="groupId">
    </div>
    <div class="form-group col-md-3">
        <label for="groupId">Artifact Id:</label>
        <input type="text" class="form-control" id="artifactId">
    </div>
    <div class="form-group col-md-3">
        <label for="groupId">Artifact Version:</label>
        <input type="text" class="form-control" id="artifactVersion">
    </div>
    <div class="form-group col-md-3">
        <label for="groupId">Base Package Name:</label>
        <input type="text" class="form-control" id="packageName">
    </div>
    <div class="form-group col-md-3">
        <label for="groupId">Project Directory:</label>
        <input type="text" class="form-control" id="projectDirectory">
    </div>
    <div class="form-group col-md-3">
        <label for="groupId">vlingo/xoom Version:</label>
        <input type="text" class="form-control" id="xoomVersion">
    </div>
</form>